@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 0;
}

html {
  font: 400 1rem "Public Sans", sans-serif;
  min-width: 320px;
}

:root {
  --Dark-Blue: #2d314d;
  --Lime-Green: #31d35c;
  --Bright-Cyan: #2bb7da;

  --Grayish-Blue: #9698a6;
  --Light-Grayish-Blue: #f3f4f6;
  --Very-Light-Gray: #fafafa;
  --White: #ffffff;
}
